<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/Settings"></ion-back-button>
    </ion-buttons>
    <ion-title>Wijzig Naam</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

<ion-content>
    <br>
    <form [formGroup]="nameForm" (ngSubmit)="onSubmit()">
    <ion-list class="centerList">
      <ion-item lines="none">
        <h2 position="stacked">Uw naam</h2>
      </ion-item>
      <ion-item *ngFor="let test of testuser">
        <ion-input formControlName="Name" placeholder="UserName" [value]="test.name"></ion-input>
      </ion-item>
    </ion-list>
  
    <br>
    <br>
    <br>
    <br>
  
    <ion-button expand="full" type="submit" [disabled]="!nameForm.valid">Submit</ion-button>
    </form>
</ion-content>
