<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/Settings"></ion-back-button>
    </ion-buttons>
    <ion-title>Wijzig Naam</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

<ion-content>
    <br>
  
    <ion-list class="centerList">
      <ion-item lines="none">
        <h2 position="stacked">Uw naam</h2>
      </ion-item>
      <ion-item>
        <ion-input id="ActivityInput" placeholder="UserName"></ion-input>
      </ion-item>
    </ion-list>
  
    <br>
    <br>
    <br>
    <br>
  
    <ion-fab horizontal="center">
      <ion-fab-button (click)="presentToast()">Bevestig</ion-fab-button>
    </ion-fab>
</ion-content>
