<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/Settings"></ion-back-button>
    </ion-buttons>
    <ion-title>Wijzig Wachtwoord</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <br>
  
    <ion-list class="centerList">
      <ion-item lines="none">
        <h3 position="stacked">Voer uw huidig wachtwoord in</h3>
      </ion-item>
      <ion-item>
        <ion-input id="ActivityInput" placeholder="Huidig wachtwoord"></ion-input>
      </ion-item>
    </ion-list>

    <br>
    <br>

    <ion-list class="centerList">
        <ion-item lines="none">
          <h3 position="stacked">Voer een nieuw wachtwoord in</h3>
        </ion-item>
        <ion-item>
          <ion-input id="ActivityInput" placeholder="Nieuw wachtwoord"></ion-input>
        </ion-item>
        <br>
        <ion-item>
          <ion-input id="ActivityInput" placeholder="Herhaal wachtwoord"></ion-input>
        </ion-item>
      </ion-list>
  
    <br>
    <br>
    <br>
    <br>
  
    <ion-fab horizontal="center">
      <ion-fab-button (click)="presentToast()">Bevestig</ion-fab-button>
    </ion-fab>
</ion-content>
