<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/Settings"></ion-back-button>
    </ion-buttons>
    <ion-title>Wijzig Wachtwoord</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">

    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" formControlName="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" formControlName="password"></ion-input>
    </ion-item>

    <ion-button expand="full" type="submit" [disabled]="!credentialsForm.valid">Login</ion-button>
    <!--
      Unregistered person is not allowed to register himself, implement somewhere else! (use button)
      <ion-button expand="full" type="button" (click)="register()" [disabled]="!credentialsForm.valid">Register</ion-button>
      -->
  </form>
</ion-content>
