<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/Settings"></ion-back-button>
    </ion-buttons>
    <ion-title>Wijzig Wachtwoord</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">

    <ion-item>
      <ion-label position="floating">Oud wachtwoord</ion-label>
      <ion-input type="password" formControlName="OldPassword"></ion-input>
    </ion-item>

    <br/>
    <br/>

    <ion-item>
      <ion-label position="floating">Nieuw wachtwoord</ion-label>
      <ion-input type="password" formControlName="NewPassword"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Voer nieuw wachtwoord opnieuw in</ion-label>
      <ion-input type="password" formControlName="RepeatPassword"></ion-input>
    </ion-item>
    
    <br/>

    <ion-button expand="full" type="submit" [disabled]="!passwordForm.valid">Submit</ion-button>
  </form>
</ion-content>
