

.timesh{
    margin: 35px;
    background-color: cadetblue;
    list-style-type: circle;
    max-width: 500px;
    max-height: 800px;    
}
#tshtitle{
    color: aliceblue;

}

.top{
    margin-bottom: 2px;
    margin-left: 35px;
    margin-right: 35px;
}

 .acc{
    float: right;
   
}

.top{
    border-style: solid;
    border-color: cadetblue;

}

#proj{
    width: 200px;
    height: 50px;

    text-align: center;
  
}