<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br />
  <br />
  <h1 style="text-align: center">Log uw tijd</h1>
  <br />
  <br />
  <br />
  <br />

  <form [formGroup]="logForm" (ngSubmit)="logSubmit()">

    <ion-list class="centerList">
      <ion-item lines="none">
        <ion-label position="stacked">Startuur</ion-label>
        <ion-datetime   formControlName="Start" display-format="DD-MM-YYYY HH:mm" picker-format="DD-MM-YYYY HH:mm"></ion-datetime >
      </ion-item>

      <ion-item lines="none">
        <ion-label position="stacked">Einduur</ion-label>
        <ion-datetime   formControlName="Stop" display-format="DD-MM-YYYY HH:mm" picker-format="DD-MM-YYYY HH:mm"></ion-datetime >
      </ion-item>
    </ion-list>

    <ion-list class="centerList">
      <ion-item>
        <ion-input id="ActivityInput" placeholder="Wat heeft u gedaan?" formControlName="Description"></ion-input>
      </ion-item>
    </ion-list>

    <ion-list class="centerList">
      <ion-label>Selecteer uw project</ion-label>
        <ion-select formControlName="ProjectId">
            <ion-select-option *ngFor="let project of projecten" [value]="project.id">{{ project.name }}</ion-select-option>
          </ion-select>
    </ion-list>
    <br />
    <br />

      <ion-button expand="full" type="submit">Verstuur </ion-button>

  </form>
</ion-content>

<!--
    [disabled]="!logForm.valid"
     
-->