<ion-app>
  <ion-menu contentId="content1" side="start">
    <ion-header>
      <ion-toolbar>
        <ion-title>Timesheetapp</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item (click)='goHome()'>Home</ion-item>
        <ion-item (click)='goProfile()'>Profiel</ion-item>
        <div *ngIf='showConsultant'>
            <ion-item (click)='goCalendar()'>Calendar</ion-item>
        </div>
        <div *ngIf='showHr'>
          <ion-item (click)='goConsultants()'>Consultants</ion-item>
        </div>
        <div *ngIf="showManager">
          <ion-item (click)="goProjects()">Projects</ion-item>
        </div>
        <ion-item (click)='goSettings()'>Instellingen</ion-item>
        <ion-item (click)='logout()' color='danger'>Afmelden</ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="content1" main></ion-router-outlet>
</ion-app>