<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/"></ion-back-button>
        </ion-buttons>
    <ion-title>change-project</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <form (ngSubmit)="formProject()">
        <ion-item>
          <ion-label>Naam</ion-label>
          <ion-input type="text" [(ngModel)]="prj.Name" name="Name"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Overuren mogelijk</ion-label>
          <ion-checkbox color="primary" [(ngModel)]="prj.Overtime" name="Overtime"></ion-checkbox>
        </ion-item>
        <ion-item>
            <ion-label>Factuur</ion-label>
            <ion-checkbox color="primary" [(ngModel)]="prj.Billable" name="Billable"></ion-checkbox>
          </ion-item>
        <button ion-button type="submit" block>update project</button>
      </form>
</ion-content>