<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/Settings"></ion-back-button>
    </ion-buttons>
    <ion-title>Wijzig Notificaties</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-list class="centerList">
        <ion-item lines="none">
          <ion-label id="label">Overuren</ion-label>
          <ion-checkbox id="checkbox"></ion-checkbox>
        </ion-item>
      </ion-list>
    
      <ion-fab horizontal="center">
        <ion-fab-button (click)="presentToast()">Verstuur</ion-fab-button>
      </ion-fab>
</ion-content>
