<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="dark" (click)="goBack()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Instellingen</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-list>
    <ion-label>test</ion-label>
    <ion-item>
        <ion-label ion-button (click)="goToName();">Wijzig Naam</ion-label>
    </ion-item>
    <ion-item>
      <ion-label ion-button (click)="goToPassword();">Wijzig Wachtwoord</ion-label>
    </ion-item>
    <ion-item>
      <ion-label ion-button (click)="goToWorkweek();">Wijzig Standaard Werkweek</ion-label>
    </ion-item>
    <ion-item>
      <ion-label ion-button (click)="goToNotifications();">Wijzig Notificaties</ion-label>
    </ion-item>
  </ion-list>

</ion-content>
